@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 375px) {
  body {
    font-family: "outfit", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #1a2a33;
    display: Flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #board {
    display: none;
  }
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  /* general class for .rule and pick player */
  .typography {
    font-family: " Outfit", sans-serif;
    font-size: 16px;

    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 24px 10px 24px 10px;
    text-transform: uppercase;
    color: #a8bfc9;
  }

  .xo {
    /* text-align: center; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
  }
  .xo img {
    width: 32px;
    height: 32px;
  }
  .pick-player-div {
    background-color: #1f3641;
    width: 327px;
    padding: 0 24px 0 24px;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212a;
    /* width: 100%; */
    margin-bottom: 32px;
  }
  .pick {
    width: 100%;
    background-color: #1a2a33;
    display: flex;

    gap: 19px;
    align-items: center;

    border-radius: 10px;
    padding: 10px;
  }
  /* .o-svg {
    background-color: #a8bfc9;
    padding: 11px 45px 11px 50px;
    border-radius: 10px;
  } */
  .pick-player {
    font-weight: 700;
  }
  .btn-xo {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .rule {
    font-weight: 500;
    opacity: 30%;
  }
  .one-player {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2b137;
    box-shadow: inset 0px -8px 0px #cc8b13;
    padding: 14px 70px 22px 70px;
    border-radius: 15px;
    border: none;
    width: 327px;
    margin-bottom: 16px;
    cursor: pointer;
    font-family: "outfit", sans-serif;
  }
  .two-player {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    background-color: #31c3bd;
    box-shadow: inset 0px -8px 0px #118c87;
    padding: 14px 60px 22px 60px;
    border-radius: 15px;
    border: none;
    width: 327px;
    cursor: pointer;
    font-family: "outfit", sans-serif;
    text-transform: uppercase;
  }
  .xo {
    padding: 118px 0 24px 0;
  }
  .active-btn-xo {
    background-color: #a8bfc9;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .active-btn-xo svg path {
    fill: #1a2a33;
  }
}
